<p>Please enter the e-mail address for your account. An email will be sent to you containing a reset link for your account. Once you have followed the directions in this email a new password will be sent to you.</p>
<p>After logging in with this new password you can then reset it to one of your choosing using the "<em>Change Password</em>" page.</p>

<div class="form">
    
    [[+loginfp.errors:notempty=`<div class="alert alert-danger" role="alert">[[+loginfp.errors]]</div>`]]
    
    <form class="loginFPForm" action="[[~[[*id]]]]" method="post">
        <div>
            <input class="returnUrl" type="hidden" name="returnUrl" value="[[+loginfp.request_uri]]" />
            <input class="loginFPService" type="hidden" name="login_fp_service" value="forgotpassword" />
        </div>

        <div class="formSegWrap form-group" >
            <label class="mainElLabel" for="forgot_pass_email"><span class="mainLabel">[[%login.email]]</span></label>
            <div class="elWrap"><input class="form-control" id="forgot_pass_email" type="text" name="email" value="[[+loginfp.post.email]]" /></div>
        </div>

        <div class="formSegWrap formSegWrap_submit elementButton" title="Submit">
            <div class="elWrap">
                <input class="btn btn-primary" type="submit" name="login_fp" value="[[%login.reset_password]]" />
            </div>
        </div>

    </form>
</div>
